*{
    box-sizing: border-box;
    }
    body
    {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding: 9px;
        background-image:url("https://img1.goodfon.com/wallpaper/nbig/7/20/obektiv-kamera-fotoapparat.jpg")
    }
    .container
    {
        background-color: rgb(167, 35, 101);
        padding: 15px 20px 15px 20px; 
        border: 2px solid rgb(255, 174, 0);
        border-radius: 5px;
        font-size: 20px;
        width: 60%;
        margin-left: 260px;
    }
    input[type="text"],
    input[type="number"]
    {
        width: 100%;
        border: 2px solid rgb(255, 174, 0);
        border-radius: 4px;
    
    }
    fieldset
    {
        border: 3px solid rgb(14, 13, 13);
    
    }
    input[type="submit"]
    {
    background-color: rgb(187, 100, 0),;
    width: 100%;
    padding: 10px 15px 10px 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    border:none;
    border-radius: 4px;
    cursor: pointer;
    
    }
    input[type="submit"]:hover
    {
     background-color: rgba(255, 145, 0, 0.753), ;   
    }
    .Head
    {
        text-align: center;
    
    }
    .navbar ul li

{
  text-align: center;
  list-style-type: none;
  display: inline-block;
  padding-left: 10vw;
  margin-left: 10vw;
  margin-right: 15vw;
   color: black;
   margin-top: -20vh;
}